
RewriteOptions inherit

RewriteEngine on

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName net-bits.com

RewriteCond %{HTTP_HOST} ^net\-bits\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.net\-bits\.com$
RewriteRule ^admin\/?$ "http\:\/\/mocha3001\.mochahost\.com\:2082\/" [R=301,L]

